---
import Layout from "../../layouts/Layout.astro";
const tipo = "accion";
const autor = "Taktel";
const titulo = "Reacción en cadena";
---

<Layout title={titulo} tipo={tipo} autor={autor}>
  <h1>{titulo}</h1>
  <p>Escrito por: {autor}</p>
</Layout>
