---
import Layout from "../../layouts/Layout.astro";
const tipo = "texto";
const autor = "Luis Navarro";
const titulo = "La Comunidad";
---

<Layout titulo={titulo} tipo={tipo} autor={autor}>
  <h1>{titulo}</h1>
  <p>{autor}</p>
</Layout>
