---
import Lottie from "lottie-react";
import LottieComponent from "../components/LottieComponent.jsx";
// import animationTest from "./../assets/lottiefiles/Animation-1707831976608.json";
import Layout from "../layouts/Layout.astro";
import tornos from "../assets/video/torno-fila-frontal.mp4";
import videoPlano from "../assets/video/plano-ret.mp4";
const claseArticle = "w-full lg:w-1/2 xl:w-1/3 2xl:w-1/4 p-2";
const claseImg = "aspect-video rounded object-cover w-full";
import { Image } from "astro:assets";
import imageDeriva1 from "../assets/img/deriva-psico-1-.png";
import ilogoLQON from "../assets/img/Logotipo-principal.jpg";
import imageIntervencionMetro from "../assets/img/canciones-trabajo/intervincion-anonima-2-desktop.jpg";
import imageCasas from "../assets/img/casas-de-carton/casas-de-carton-1.jpg";
import imagePolicia1 from "../assets/img/policia-pixel.jpg";
import imageProtestasEcuador1 from "../assets/img/Protestas_en_Ecuador_1.jpg";
import imageNonoCNT from "../assets/img/nono-cnt-ret.jpg";
import imageBarrio23Enero from "../assets/img/casas-de-carton/casas-de-carton-Barrio_23_de_Enero_de_Caracas.jpg";
---

<Layout title="Welcome to Astro.">
  <video id="videoLogotipo" class="w-full" muted playsinline autoplay loop>
    <source src={tornos} type="video/mp4" />
    Tu navegador no soporta videos.
  </video>

  <div class="w-full mt-14 flex flex-wrap px-2">
    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/presentacion"
        data-uri="presentacion"
      >
        <p>Presentación</p>
      </a>
      <p class="mb-2 text-xl">Democracia</p>
      <Image class={claseImg} src={ilogoLQON} alt="Logotipo Lo quieras o no" />
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/una-deriva-psicogeografica-por-el-metro-de-madrid"
        data-uri="una-deriva-psicogeografica-por-el-metro-de-madrid"
      >
        <p class="md:mb-9">Deriva psicogeográfica 1</p>
      </a>
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/que-no-es-la-psicogeografia"
        data-uri="que-no-es-la-psicogeografia"
        ><p>Qué no es la psicogeografía</p></a
      >
      <p class="mb-2 text-xl">Luis Navarro</p>
      <Image class={claseImg} src={imageDeriva1} alt="Plano de Madrid" />
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/oscar-cabanas"
        data-uri="oscar-cabanas"
      >
        <p>Oscar Cabanas</p>
      </a>
      <p class="mb-2 text-xl">Mandamás</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/076c5a77-c9e9-4ad8-ada0-be46e9ff8814?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/no-lugar" data-uri="no-lugar"
        ><p class="md:mb-9">Deriva psicogeográfica 2</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/vorja-encikutao"
        data-uri="vorja-encikutao"><p>Vorja Enzikutao</p></a
      >
      <p class="mb-2 text-xl">Mandamás</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/6836a535-8db4-4771-bc3f-98c741ec2575?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/la-muerte-declara-la-guerra-a-los-gendarmes"
        data-uri="la-muerte-declara-la-guerra-a-los-gendarmes"
        ><p>La muerte declara la guerra…</p></a
      >
      <p class="mb-2 text-xl">Georges Brassens</p>
      <Image class={claseImg} src={imagePolicia1} alt="Plano de Madrid" />
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/la-comunidad"
        data-uri="la-comunidad"
        ><p class="md:mb-9">Deriva psicogeográfica 3</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="acciones/taktel" data-uri="taktel"
        ><p>Taktel</p></a
      >
      <p class="mb-2 text-xl">Reacción en cadena</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/6b53a955-7a67-4a94-96e6-83f3b48aa494?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/canciones-de-trabajo"
        data-uri="canciones-de-trabajo"><p>Canciones de trabajo</p></a
      >
      <p class="mb-2 text-xl">Daniel Villegas</p>
      <Image
        class={claseImg}
        src={imageIntervencionMetro}
        alt="Plano de Madrid"
      />
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/juglaria" data-uri="juglaria"
        ><p class="md:mb-9">Deriva psicogeográfica 4</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/juan-carlos-gorreta"
        data-uri="juan-carlos-gorreta"><p>Juan Carlos Gorreta</p></a
      >
      <p class="mb-2 text-xl">La vida de los esclavos en el siglo XXI</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/a91e35af-1322-4e13-b0fd-ad5019c8402a?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/resonancias"
        data-uri="resonancias"
        ><p class="md:mb-9">Deriva psicogeográfica 5</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="acciones/vicius" data-uri="vicius"
        ><p>Vicius</p></a
      >
      <p class="mb-2 text-xl">Vacaciones en España</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="https://iframe.mediadelivery.net/embed/201842/15f8c14a-b084-445b-9cd7-fb265c252440?autoplay=false&loop=false&muted=false&preload=true&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/psico-6" data-uri="psico-6"
        ><p class="md:mb-9">Deriva psicogeográfica 6</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/grupo-chasky"
        data-uri="grupo-chasky"><p>Grupo Chasky</p></a
      >
      <p class="mb-2 text-xl">Movimiento indígena</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/c244011c-d2da-4ddb-97f2-18f139356f39?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/migracion-y-resistencia-indigena"
        data-uri="migracion-y-resistencia-indigena"
        ><p>Resistencia indígena</p></a
      >
      <p class="mb-2 text-xl">Luis Duno-Gottberg</p>
      <Image
        class={claseImg}
        src={imageProtestasEcuador1}
        alt="Plano de Madrid"
      />
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/nono-murcia"
        data-uri="nono-murcia"><p>Nono Murcia</p></a
      >
      <p class="mb-2 text-xl">Fandangos</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          class="rounded"
          src="https://iframe.mediadelivery.net/embed/201842/373a1c84-54a5-4e46-92ec-46ffdfd89674?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/folclore" data-uri="folclore"
        ><p>Música popular</p></a
      >
      <p class="mb-2 text-xl">Mabel Quiñones</p>
      <Image class={claseImg} src={imageNonoCNT} alt="Plano de Madrid" />
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="acciones/el-chirly" data-uri="el-chirly"
        ><p>El Chirly</p></a
      >
      <p class="mb-2 text-xl">Están cayendo bombas en Madrid</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="https://iframe.mediadelivery.net/embed/201842/329c5de8-8479-42fd-80fc-b100a3947564?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/psico-7" data-uri="psico-7"
        ><p class="md:mb-9">Deriva psicogeográfica 7</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/briana-weapons"
        data-uri="briana-weapons"><p>Briana Weapons</p></a
      >
      <p class="mb-2 text-xl">La canción del trabajo</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="https://iframe.mediadelivery.net/embed/201842/4a644d08-d8f1-4960-829d-0c4bc1fc8023?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/trabajo" data-uri="trabajo"
        ><p class="md:mb-9">Deriva psicogeográfica 8</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="acciones/lucia-montenegro"
        data-uri="lucia-montenegro"><p>Lucía Montenegro</p></a
      >
      <p class="mb-2 text-xl">Casas de cartón</p>
      <div style="position:relative;padding-top:56.25%;">
        <iframe
          src="https://iframe.mediadelivery.net/embed/201842/577b0eae-876e-441a-ab9f-830d776e1589?autoplay=false&loop=false&muted=false&preload=false&responsive=true"
          loading="lazy"
          style="border:0;position:absolute;top:0;height:100%;width:100%;"
          allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </article>

    <article class={claseArticle}>
      <a
        class="enlace text-3xl"
        href="textos/casas-de-carton"
        data-uri="casas-de-carton"><p>Casas de cartón</p></a
      >
      <p class="mb-2 text-xl">Luis Duno-Gottberg</p>
      <Image class={claseImg} src={imageBarrio23Enero} alt="Plano de Madrid" />
    </article>

    <article class={claseArticle}>
      <a class="enlace text-3xl" href="textos/post-logo" data-uri="post-logo"
        ><p class="md:mb-9">Deriva psicogeográfica 9</p></a
      >
      <video class="w-full rounded" muted playsinline autoplay loop>
        <source src={videoPlano} type="video/mp4" />
        Tu navegador no soporta videos.
      </video>
    </article>
  </div>
</Layout>

<script>
  import { goToStation } from "./../components/goToStation.js";
  import { isAnimating } from "../components/stores.js";

  document.addEventListener("astro:page-load", () => {
    const enlaces = document.getElementsByClassName("enlace");

    Array.from(enlaces).forEach((enlace) => {
      enlace.addEventListener("click", (e) => {
        const uri = e.currentTarget.dataset.uri;
        console.log("uri", uri);
        goToStation(uri, e);
      });
    });

    // atenuar enlaces durante la animación
    const unsubscribe = isAnimating.subscribe(updateLinkState);

    function updateLinkState(value) {
      Array.from(enlaces).forEach((enlace) => {
        if (value) {
          enlace.classList.add("pointer-events-none", "opacity-70");
        } else {
          enlace.classList.remove("pointer-events-none", "opacity-70");
        }
      });
    }
  });
</script>
